<h1>hello</h1>


<div>
<form action="/" method = 'post'>   
	 <div class="row">
                        <div class="col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="staffid" class="col control-label">编号</label>
                                <div class="col">
                                    <input name="staffid" class="form-control" placeholder="eg:PD10130703" value="{{ id }}">
                                </div>
                            </div>
                        </div>
  <button type="submit" class="btn-primary" style="margin-left:10px">提交</button>  
</form>
</div> 
